/* Diseño desktop 1440px */

/* --- Header --- */

header{
    background-image:url('/images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    background-attachment: fixed;
    color:hsl(0, 0%, 100%);
    display: flex;  
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    height: 70vh;
    width: 100vw;
}

/* Logo LOOPSTUDIOS */

.header-navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 64px 165px 0px 165px;   
}

/* Navbar: ABOUT, CAREERS, ETC */

.mobile-nav, .nav-toggler{
    display: none;
}


.navbar-nav ul{
    display: flex;
}

.navbar-nav li{ 
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none; 
    position: relative;
}

.navbar-nav a{
    color:hsl(0, 0%, 100%);
    font-size: 16px;
    font-weight: 800;
    padding: 0 17px;
    text-decoration: none;
}

.navbar-nav li::after{
    background-color: #fff;
    content: '';
    height: 2px;
    width: 0;
}

.navbar-nav li:hover::after{
    transition-duration: .5s;
    width: 35px;
}

/* Banner IMMERSIVE EXP... */
.header-banner-m{
    display: none;
}

.header-banner{
    margin: 100px 163px;
    width: 46%;
}

.header-banner h1{
    border: 2px solid #fff;
    font-size: 400%;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 71px;
    padding: 5.5% 15% 4% 6%;
    text-transform: uppercase;
    width: 585px;
}

/* --- End of header --- */

/* --- Main --- */

/* - First screen - */

.first-content{
    align-items: center;
    color: var(--black);
    display: flex;
    font-family: 'Josefin Sans', 'sans-serif';
    height: 100vh;
    margin: 0 auto;
    width: 100vw;
}

.f-content-box{
    display: block;
    margin: 0 auto;
    max-width: 1086px;
    position: relative;
    width: 75.5%;
}

.f-img{
    margin: auto 120px auto 0;
    width: fit-content;
}

.f-txt{
    background-color: var(--white);
    display: block;
    left: 50%;
    padding: 60px 15px 30px 60px;
    position: absolute;
    top: 200px;
    width: 550px;
}

.f-txt h1{
    font-size: 48px;
    font-weight: 100;
    text-transform: uppercase;
}

.f-txt p{
    font-size: 15px;
    font-family: 'Alata', sans-serif;  
    line-height: 24.5px;
    margin-top: 25px;
    text-align: left;
}

/* - Second screen - */

.second-content{
    align-items: center;
    display: flex; 
    flex-direction: column;
    margin-bottom: 165px;
}

/* Header*/

.s-header{
    align-self: stretch;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: space-between;
    margin: 16px 160px 56px 160px;
}

.s-header h1{
    color: var(--black);
    font-size: 47.5px;
    font-weight: 100;
    text-transform: uppercase;
}

.s-header button{
    background-color: transparent;
    border: 2px solid #000;
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: fit-content;
    letter-spacing: 4.5px;
    padding: 8px 36.5px;
    text-transform: uppercase;
}

.s-header button:hover{
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    transition-duration: .75s;
}

/* Main */

.s-main{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    max-width: 1232px;
    width: 90%;
}

/* Cards */

.card{
    flex: 1 0 256px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 16px;
    position: relative;
}

.card:after{
    background-image: linear-gradient(180deg, transparent 30%, #000b);
    content: '';
    inset: 0;
    height: 450px;
    position: absolute;
    width: 256px;
}

.card:hover::after{
    background-image: linear-gradient(180deg, #fffa 40%, #555a);
}

.card h1{
    font-size: 32px;
    font-weight: 100;
    left: 15%;
    position: absolute;
    top: 78%;
    z-index: 1;
}

.card:hover h1{
    color: var(--black);
    font-weight: 800;
    transition-duration: .5s;
    z-index: 1;
}

/* --- End of main --- */

/* --- Footer --- */

footer{
    background-color: #000;
    color: var(--white);
    display: flex;
    justify-content: space-between;
}

/* - Footer logo + nav -  */
.footer-logo-nav{
    display: flex;
    flex-direction: column;
    margin: 43px 0 48px 165px;
}

/* Logo */
.footer-logo-nav .footer-logo{
    height: 35%;
    width: 142px;
}

/* Nav */
.footer-nav{
    display: flex;
    margin-top: 25px;
}

.footer-nav ul{
    display: flex;
    list-style: none;
}

.footer-nav ul li{
    display: flex;
    flex-direction: column;
    font-family: 'Alata', sans-serif;
    position: relative;
}

.footer-nav li a{
    color: var(--white);
    padding-right: 33px;
    text-decoration: none;
}

.footer-nav li::after{  
    background-color: #fff;
    content: '';
    height: 2px;
    width: 0;
}

.footer-nav li:hover::after{
    transition-duration: .5s;
    width: 15px;
}


/* - Footer navbar y copyright - */

.footer-media-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 43px 165px 21px 21px;
}

/* Media */ 

.footer-media img{
    padding-left: 12px;
}

/* Copyright */

.footer-right{
    margin-top: 21px;
}

.footer-right p{
    color: var(--very-dark-gray);
    font-family: 'Alata', sans-serif;
    font-size: 15px;
}

/* --- End of footer --- */