/* Diseño responsive: 375px */

@media screen and (max-width: 768px) {
  /* --- Header --- */

  header {
    background-image: url("/images/mobile/image-hero.jpg");
    height: 90vh;
    /* display: none; */
  }

  /* Logo LOOPSTUDIOS */

  .header-navbar {
    margin: 45px 20px;
  }

  .navbar-logo img {
    width: 153px; /* o 80% en 385px */
  }

  .nav-toggler {
    display: block;
  }

  /* Navbar: ABOUT, CAREERS, ETC */

  .navbar-nav ul {
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
  }

  .navbar-nav a {
    font-size: 26px;
    font-weight: 100;
    padding: 17px 30px;
    text-align: left;
  }

  .navbar-nav {
    position: fixed;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100vh;
    background: var(--black);
    display: flex;
    align-items: center;
    transition: 0.25s;
  }

  .mobile-nav {
    display: flex;
    position: absolute;
    right: 25px;
    left: 25px;
    top: 40px;
    justify-content: space-between;
    align-items: center;
  }

  /* Banner IMMERSIVE EXP... */
  .header-banner {
    display: none;
  }

  .header-banner-m {
    display: block;
    margin: 110px auto 0 auto;
    padding: 0;
    width: 90%;
  }

  .header-banner-m h1 {
    border: 2px solid #fff;
    font-size: 42px;
    font-weight: 300;
    line-height: 40.5px;
    padding: 22px 25px;
    text-transform: uppercase;
    width: auto;
  }

  /* --- End of header --- */

  /* --- Main --- */

  .first-content {
    justify-content: center;
    height: 720px;
    margin: 0;
    width: 100%;
    /* display: none; */
  }

  .f-content-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: none;
    width: auto;
  }

  .f-img {
    margin: 0;
    text-align: center;
    width: 87.5%;
  }

  .f-img img {
    width: 100%;
  }

  .f-txt {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    padding: 0;
    position: static;
    width: fit-content;
    text-align: center;
  }

  .f-txt h1 {
    font-size: 35px;
    font-weight: 500;
    width: fit-content;
    text-align: center;
  }

  .f-txt p {
    color: var(--dark-gray);
    font-size: 16px;
    line-height: 26px;
    margin-top: 15px;
    padding: 0 45px;
    text-align: center;
    width: fit-content;
  }

  /* - Second screen - */

  .second-content {
    margin: 0;
    position: relative;
  }

  /* Header*/

  .s-header {
    align-self: none;
    justify-content: center;
    margin: 0 0 36px 0;
  }

  .s-header h1 {
    font-size: 34px;
    margin-top: 32px;
  }

  .s-header button {
    border: 1px solid #000;
    bottom: 6%;
    color: var(--dark-gray);
    left: 50%;
    padding: 10px 42px;
    position: absolute;
    transform: translateX(-50%);
  }

  /* Main */

  .s-main {
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    margin: 0 0 164px 0;
    max-width: none;
    width: 100%;
  }

  /* Cards */

  .card {
    flex: 0;
    margin: 12px auto;
    width: 90%;
    height: 100%;
  }

  .card img{
    height: 135px;
    object-fit: cover;
    object-position: 0px 10px;
    width: 100%;
  }

  .card:after {
    height: 135px;
    width: 100%;
  }

  .card h1 {
    font-size: 24px;
    left: 20px;
    position: absolute;
    top: 40%;
    z-index: 1;
  }

  /* --- End of main --- */

  footer {
    display: none;
  }
}
