/* Global */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Raiz */

:root{
    /* Colors */

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);

    /* Fonts */

    /* --f-alata: 'Alata', sans-serif;
    --f-josesans: 'Josefin Sans', sans-serif; */
}

body{
    font-size: 15px;
    overflow-x: hidden;
}

/* Diseño desktop 1440px */

/* --- Header --- */

header{
    background-image:url('/images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    background-attachment: fixed;
    color:hsl(0, 0%, 100%);  /* Temporal */
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    height: 80vh;
    width: 100vw;
    overflow: hidden;
}

/* Logo LOOPSTUDIOS */

.header-navbar{
    display: flex;
    margin: 64px 165px;
    justify-content: space-between;
    align-items: center;
}

/* Navbar: ABOUT, CAREERS, ETC */

.navbar-nav ul{
    display: flex;
}

.navbar-nav li{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none; 
    position: relative;
}

.navbar-nav a{
    color:hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    padding: 0 17px;
}

.navbar-nav li::after{
    background-color: #fff;
    content: '';
    height: 2px;
    width: 0;
}

.navbar-nav li:hover::after{
    transition-duration: .5s;
    width: 35px;
}

/* Banner IMMERSIVE EXP... */

.header-banner{
    margin: 0 163px;
    margin-top: 61px;
    width: fit-content;
}

.header-banner h1{
    border: 2px solid #fff;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 71px;
    text-transform: uppercase;
    padding: 37px 101px 26px 40px;
}

/* --- End of header --- */

/* --- Main --- */

/* - First screen - */

.first-content{
    display: flex;
    font-family: 'Josefin Sans', 'sans-serif';
    height: 100vh;
    position: relative;
    width: 100vw;
}

.f-img{
    margin: auto 170px;
}

.f-txt{
    background-color: var(--white);
    display: block;
    padding: 93px 94px;
    position: absolute;
    left: 50%;
    top: 41%;
    transform: translateX(2%);
    width: 50%;
}

.f-txt h1{
    font-size: 48px;
    font-weight: 100;
    text-transform: uppercase;
}

.f-txt p{
    font-size: 15px;
    font-family: 'Alata', sans-serif;  
    line-height: 24.5px;
    margin-right: 90px;
    margin-top: 25px;
    text-align: left;
}

/* - Second screen - */

.second-content{
    display: flex; 
    flex-direction: column;
    margin-bottom: 165px;
}

/* Header*/

.s-header{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: space-between;
    margin: 0 10rem;
    margin-bottom: 3.5rem;
}

.s-header h1{
    /* margin-right: 50%; */
    font-size: 47.5px;
    font-weight: 100;
    text-transform: uppercase;
}

.s-header button{
    background-color: transparent;
    border: 2px solid #000;
    letter-spacing: 4.5px;
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 36.5px;
    height: fit-content;
    text-transform: uppercase;
}

.s-header button:hover{
    background-color:hsl(0, 0%, 90%);
    cursor: pointer;
    transition-duration: .5s;
}

/* Main */

.s-main{
    display: flex; 
    flex-direction: column;
    height: 100%;
}

.s-row-1{
    display: flex;
    flex-wrap: wrap;
    height: 40%;
    margin: 0 auto;
    /* justify-content: space-evenly; */
}

.s-row-2{
    display: flex;
    flex-wrap: wrap;
    height: 40%;
    margin: 0 auto;
    /* justify-content: space-evenly; */
}

.s-row-1 div,.s-row-2 div{
    align-items: flex-end;
    background-color: rgba(0, 26, 255, 0.268);
    color: var(--white);
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    height: 450px;
    margin: 1rem;
    padding: 25px 40px;
    width: 256px;
}

.s-row-1 div h1,.s-row-2 div h1{
    font-weight: 300;
    font-size: 30px;
}

/* Div images */

.s-row-1 div:nth-child(1){
    background-image: url('/images/desktop/image-deep-earth.jpg');
}

.s-row-1 div:nth-child(2){
    background-image: url('/images/desktop/image-night-arcade.jpg');
}

.s-row-1 div:nth-child(3){
    background-image: url('/images/desktop/image-soccer-team.jpg');
}

.s-row-1 div:nth-child(4){
    background-image: url('/images/desktop/image-grid.jpg');
}

.s-row-2 div:nth-child(1){
    background-image: url('/images/desktop/image-from-above.jpg');
}

.s-row-2 div:nth-child(2){
    background-image: url('/images/desktop/image-pocket-borealis.jpg');
}

.s-row-2 div:nth-child(3){
    background-image: url('/images/desktop/image-curiosity.jpg');
}

.s-row-2 div:nth-child(4){
    background-image: url('/images/desktop/image-fisheye.jpg');
}

/* --- End of main --- */

/* --- Footer --- */

footer{
    background-color: #000;
    color: var(--white);
    display: flex;
    flex-direction: column;
}

/* - Footer logo + social media -  */
.footer-logo-media{
    display: flex;
    justify-content: space-between;
    margin: 43px 165px 21px 165px;
}

/* Logo */
.footer-logo-media .footer-logo{
    width: 143px;
    height: 100%;
}

/* Media */ 

.footer-media img{
    padding-left: 12px;
}

/* - Footer navbar y copyright - */

.footer-nav-rights{
    display: flex;
    justify-content: space-between;
    margin: 0 165px 43px 165px;
}

/* Nav */
.footer-nav{
    display: flex;
}

.footer-nav ul{
    display: flex;
    list-style: none;
}

.footer-nav ul li{
    display: flex;
    flex-direction: column;
    font-family: 'Alata', sans-serif;
    position: relative;
}

.footer-nav li a{
    color: var(--white);
    text-decoration: none;
    padding-right: 33px;
}

.footer-nav li::after{  
    background-color: #fff;
    content: '';
    height: 2px;
    width: 0;
}

.footer-nav li:hover::after{
    transition-duration: .5s;
    width: 15px;
}

/* Copyright */

.footer-rights p{
    color: var(--very-dark-gray);
    font-family: 'Alata', sans-serif;
    font-size: 15px;
}

/* --- End of footer --- */