/* Global */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Raiz */

:root{
    /* Colors */

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);

    /* Fonts */

    /* --f-alata: 'Alata', sans-serif;
    --f-josesans: 'Josefin Sans', sans-serif; */
}

body{
    font-size: 15px;
    overflow-x: hidden;
}

/* Diseño desktop 1440px */

/* --- Header --- */

header{
    background-image:url('/images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color:hsl(0, 0%, 100%);  /* Temporal */
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Logo LOOPSTUDIOS */

.header-navbar{
    display: flex;
    margin: 64px 165px;
    justify-content: space-between;
    align-items: center;
}

/* Navbar: ABOUT, CAREERS, ETC */

.navbar-nav ul{
    display: flex;
}

.navbar-nav li{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none; 
    position: relative;
}

.navbar-nav a{
    color:hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    padding: 0 17px;
}

.navbar-nav li::after{
    background-color: #fff;
    bottom: -10px;
    content: '';
    height: 2px;
    left: 50%;
    width: 0;
}

.navbar-nav li:hover::after{
    transition-duration: .5s;
    width: 35px;
}

/* Banner IMMERSIVE EXP... */

.header-banner{
    margin: 0 163px;
    margin-top: 61px;
    width: fit-content;
}

.header-banner h1{
    border: 2px solid #fff;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 71px;
    text-transform: uppercase;
    padding: 37px 101px 26px 40px;
}

/* --- End of header --- */

/* --- Main --- */

/* First screen  */

.content-1{
    display: flex;
    font-family: 'Josefin Sans', 'sans-serif';
    height: 100vh;
    position: relative;
    width: 100vw;
}

.main-image{
    padding: 8% 0 8% 10rem;
}

.main-text{
    background-color: #fff;
    display: block;
    height: fit-content;
    padding: 5rem 4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-0%);
    width: 50%;
}

.main-text h1{
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: 100;
}

.main-text p{
    font-size: 20px;    
    text-align: left;
}

/* Second screen */

/* --- End of main --- */