/* Global */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Raiz */

:root{
    /* Colors */

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);

    /* Fonts */

    /* 
       'Alata', sans-serif;
       'Josefin Sans', sans-serif; 
    */
}

body{
    color: var(--white);
    font-size: 15px;
    /* overflow-x: hidden; */
}