/* Diseño 1440px (laptop) */

/* --- Header --- */

header {
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-attachment: fixed;
  color: $white;
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  height: 70vh;
  width: 100vw;

  /* Logo LOOPSTUDIOS and Navbar: ABOUT, CAREERS, ETC */

  .header-navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 64px 165px 0px 165px;

    .navbar-nav {
      .mobile-nav {
        display: none;
      }
      ul {
        display: flex;

        li {
          align-items: center;
          display: flex;
          flex-direction: column;
          list-style: none;
          position: relative;

          &::after {
            background-color: $white;
            content: "";
            height: 2px;
            width: 0;
          }

          &:hover::after {
            transition-duration: 0.5s;
            width: 35px;
          }

          a {
            color: $white;
            font-size: 16px;
            font-weight: 800;
            padding: 0 17px;
            text-decoration: none;
          }
        }
      }
    }

    .nav-toggler {
      display: none;
    }
  }

  /* Banner IMMERSIVE EXPERIENCE... */
  .header-banner-m {
    display: none;
  }

  .header-banner {
    margin: 100px 163px;
    width: 46%;

    h1 {
      border: 2px solid $white;
      font-size: 400%;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 71px;
      padding: 5.5% 15% 4% 6%;
      text-transform: uppercase;
      width: 585px;
    }
  }
}

/* --- End of header --- */
