@import 'variables';

/* Global */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: $white;
    font-size: 15px;
    overflow-x: hidden;
}

@import 'header';
@import 'main';
@import 'footer';
@import 'media-queries';